vault:
  url: 'https://vault-server'
redis:
  host: 'deploy-db.tech.dreamhack.se'
  port: 1338
  ssl: True
  password: 'hello'
esxi:
  - host: '1.2.3.4'
    domain: 'event'
    fqdn: 'esxi.event.dreamhack.local'
    username: 'username'
    password: 'secret'
    deploy-vlan: 509
c7000:
  - host: '172.16.0.30'
    domain: 'event'
    fqdn: 'ammc1.event.dreamhack.local'
    community: 'public'
    username: 'Administrator'
    password: 'admin'

